<%- include('../partials/header.ejs') %>
    <h1 class="text-3xl font-semibold p-3 ml-46">Edit your Post</h1>
    <div class="w-full h-screen flex px-50 items-center ">
        <form action="/listing/<%= list._id %>?_method=PUT" method="post">
            <div>
                <label class="block text-2xl font-semibold" for="title">Title</label>
                <input type="text" class="rounded w-full p-2 border-1 shadow h-10 enabled:hover:border-gray-400 disabled:opacity-75" name="list[title]" value="<%=list.title%>">
            </div>

            <br><br>

             <div>
                <label class="block text-2xl font-semibold" for="description">Description</label>
                <textarea name="list[description]" class="rounded w-full p-2 border-1 shadow"><%=list.description%></textarea>
            </div>

            <br>

             <div class="flex items-center gap-5">

                <div>
                    <label class="block text-2xl font-semibold" for="country">Price</label>
                    <input type="number" name="list[price]" class="rounded w-[300px] p-2 border-1 shadow h-10" value="<%=list.price%>">
                </div>
                
                <br>
                
                <div>
                    <label class="block text-2xl font-semibold" for="price">Country</label>
                    <input type="text" name="list[country]" class="rounded w-[780px] p-2 border-1 shadow h-10" value="<%=list.country%>">
                </div>
                
            </div>

            <br>

            <div>
                <label class="block text-2xl font-semibold" for="image">Image</label>
                <input type="text" name="list[image][url]" class="rounded w-full p-2 border-1 shadow h-10 " value="<%= list.image.url %>">
            </div>

            <br>

            <div>
                <label class="block text-2xl font-semibold" for="location">Location</label>
                <input type="text" name="location" class="rounded w-full p-2 border-1 shadow h-10" value="<%=list.location%>">
            </div>
            <br><br>

            <input class="font-semibold bg-black text-white cursor-pointer hover:bg-white hover:text-black hover:border-1 p-2 px-5 rounded" type="submit">
        </form>
    </div>
<%- include('../partials/footer.ejs') %>

<!--<div>
                <label class="block text-2xl font-semibold" for="title">Title</label>
                <input type="text" class="rounded w-full p-2 border-1 shadow h-10" name="title" placeholder="Title">
            </div>

            <br><br>

            <div>
                <label class="block text-2xl font-semibold" for="description">Description</label>
                <textarea name="description" class="rounded w-full p-2 border-1 shadow"  placeholder="Description"></textarea>
            </div>

            <br>

            <div class="flex items-center gap-5">

                <div>
                    <label class="block text-2xl font-semibold" for="country">Price</label>
                    <input type="number" name="price" class="rounded w-[300px] p-2 border-1 shadow h-10" placeholder="1200">
                </div>
                
                <br>
                
                <div>
                    <label class="block text-2xl font-semibold" for="price">Country</label>
                    <input type="text" name="country" class="rounded w-[780px] p-2 border-1 shadow h-10" placeholder="India">
                </div>
                
            </div>

            <br>

            <div>
                <label class="block text-2xl font-semibold" for="image">Image</label>
                <input type="text" name="image" class="rounded w-full p-2 border-1 shadow h-10" placeholder="Image link">
            </div>

            <br>

            <div>
                <label class="block text-2xl font-semibold" for="location">Location</label>
                <input type="text" name="location" class="rounded w-full p-2 border-1 shadow h-10" placeholder="Delhi">
            </div>

            <br><br>

            <input class="font-semibold bg-black text-white cursor-pointer hover:bg-white hover:text-black hover:border-1 p-2 px-5 rounded" type="submit">-->