<%- include('../partials/header.ejs') %>
    <h1>Edit your Post</h1>
    <form action="/listing/<%= list._id %>?_method=PUT" method="post">
        <input type="text" name="list[title]" value="<%= list.title %>"><br><br>
        <textarea name="list[description]"><%= list.description %></textarea><br><br>
        <input type="text" name="list[country]" value="<%= list.country %>"><br><br>
        <input type="text" name="list[image]" value="<%= list.image.url %>"><br><br>
        <input type="text" name="list[location]" value="<%= list.location %>"><br><br>
        <input type="number" name="list[price]" value="<%= list.price %>"><br><br>
        <input type="submit">
    </form>
<%- include('../partials/footer.ejs') %>