<%- include('../partials/header.ejs') %>
    <h1>All Listing</h1>
    <!--<form action="/listing/new" method="get">
        <button>Click Here</button>
    </form>-->
    <div class="p-10 flex flex-wrap px-10 m-10 gap-10 items-center justify-center">
        <% alllistings.forEach(list => {%>
            <a href="/listing/<%= list._id %>">
            <div class="card rounded-2xl overflow-hidden w-[250px]  shadow-lg  mb-3">
                <img src="<%=list.image.url %>" class="w-[100%] h-48 object-cover object-center rounded-2xl" alt="picture">
                <div class="p-4">
                    <!--<a href="/listing/<%= list._id %>"><li><%= list.title %></li></a>-->
                    <p><%= list.title %></p>
                    <p>&#8377;<%=  list.price.toLocaleString("en-IN") %>/night</p>
                </div>
            </div>
            </a>
            <%}); %>
        </div>
<%- include('../partials/footer.ejs') %>