<%- include('../partials/header.ejs') %>
    <%= list.title %>
    <ul>
        <li><%=list.description%></li>
        <li><%=list.country%></li>
        <li><%=list.location%></li>
        <li> &#8377; <%=list.price.toLocaleString("en-IN")%></li>
    </ul>
    <a href="/listing/<%= list._id %>/edit"><button>Edit</button></a>
    <br><br>
    <form action="/listing/<%= list._id %>/delete?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
<%- include('../partials/footer.ejs') %>