<%- include('../partials/header.ejs') %>
    <!--<%= list.title %>
    <ul>
        <li><%=list.description%></li>
        <li><%=list.country%></li>
        <li><%=list.location%></li>
        <li> &#8377; <%=list.price.toLocaleString("en-IN")%></li>
    </ul>
    <a href="/listing/<%= list._id %>/edit"><button>Edit</button></a>
    <br><br>
    <form action="/listing/<%= list._id %>/delete?_method=DELETE" method="post">
        <button>Delete</button>
    </form>-->
    <div class="w-full flex justify-center items-center text-3xl mt-3 font-semibold">
        <%= list.title %>
    </div>
    <div class=" flex flex-wrap px-10 h-full items-start mt-5 justify-center">

        <div class="card rounded-2xl overflow-hidden w-[700px] h-full shadow-lg space-y-2 mb-3">
            <img src="<%=list.image.url %>" class="w-[100%] h-80 object-cover object-center obj rounded-2xl"
                alt="picture">
            <div class="p-4">
                <!--<a href="/listing/<%= list._id %>"><li><%= list.title %></li></a>-->
                <p class="font-semibold">Owner: <%= list.owner.username %>
                </p>
                <p>
                    <%= list.description %>
                </p>
                <p>
                    <%= list.country %>
                </p>
                <p>
                    <%= list.location %>
                </p>
                <p>&#8377;<%= list.price.toLocaleString("en-IN") %>/night</p><br>
                <% if(curruser && list.owner._id.equals(curruser._id)){ %>
                    <div class="flex gap-5">
                        <a href="/listing/<%= list._id %>/edit"><button
                                class="bg-black p-2 px-8 rounded hover:cursor-pointer hover:bg-white hover:text-black hover:border-1 text-white">Edit</button></a>

                        <form action="/listing/<%= list._id %>/delete?_method=DELETE" method="post">
                            <button
                                class="bg-red-500 p-2 px-8 rounded text-white hover:cursor-pointer hover:bg-white hover:text-black hover:border-1">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
            <% if(curruser){ %>
                <hr>
                <div class="review p-5 space-y-3">
                    <h1>Leave A Review</h1>
                    <form action="/listing/<%= list._id %>/reviews" method="post">
                        <!--<div>
                            <label class="block" for="">Rate</label>
                            <input type="range" min="1" max="5" id="rating" name="review[rate]">
                        </div>-->

                        <fieldset class="starability-slot">
                            <legend>Rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rate]" value="1" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rate]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rate]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rate]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rate]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rate]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>




                        <div>
                            <label class="block" for="comment">Comment</label>
                            <textarea class="border-1 w-full p-2" rows="4" name="review[comment]" id="comment"
                                required></textarea>
                        </div> <br>
                        <input type="submit"
                            class="bg-blue-500 p-2 px-8 rounded text-black hover:cursor-pointer hover:bg-white hover:text-black hover:border-1">
                    </form>
                </div>
                <% } %>
                    <hr>
                    <div class="p-5">
                        <h2 class="text-lg font-semibold">All Reviews</h2>
                        <div class="flex flex-wrap gap-x-4">
                            <% for (const review of list.reviews) {%>
                                <div class=" p-5 w-[calc(50%-8px)] border-1 mb-2 rounded">
                                    <div class="group flex items-center">
                                        <div>
                                            <img class="h-12 w-12 object-cover shrink-0 rounded-full" src="/user/<%= review.author.profilePic.originalName %>" alt="" />
                                        </div>
                                        <div class="ltr:ml-3 rtl:mr-3">
                                            <p class="text-gray-700 group-hover:text-gray-900 ...">
                                                <%= review.author.username %>
                                            </p>
                                            <p class="text-gray-500 group-hover:text-gray-700 ...">
                                                  <%= review.createdAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %>
                                            </p>
                                        </div>
                                    </div>

                                    <p class="starability-result mt-2" data-rating="<%= review.rate %>">
                                        Rated: <%= review.rate %> stars
                                    </p>

                                    <p>
                                        <%= review.comment %>
                                    </p><br>

                                    <% if(curruser && review.author._id.equals(curruser._id)){ %>
                                        <div>
                                            <form
                                                action="/listing/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                method="post">
                                                <button
                                                    class="bg-red-500 p-2 px-4 rounded text-white hover:cursor-pointer hover:bg-white hover:text-black hover:border-1">delete</button>
                                            </form>
                                        </div>
                                        <% } %>
                                </div>
                                <%} %>
                        </div>


                    </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>